@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#visualizer {
    border: none;
    background-color: #000;
}

#play-pause-button {
    padding: 10px 20px;
    border: none;
    background-color: #1DB954;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#play-pause-button:hover {
    background-color: #1ed760;
}
